<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.spring.*"/>

    <mvc:annotation-driven/>

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <!--                                    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>-->
        <!--                                    <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>-->
        <!--                                    <property name="username" value="system"/>-->
        <!--                                    <property name="password" value="1234"/>-->

        <!--        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>-->
        <!--        <property name="url" value="jdbc:oracle:thin:@D00C035.tarimkredi.org:1521:xe"/>-->
        <!--        <property name="username" value="yuzNumara"/>-->
        <!--        <property name="password" value="sysdba"/>-->
        <!--        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>-->
        <!--        <property name="url" value="jdbc:oracle:thin:@10.0.3.248:1521/xe"/>-->
        <!--        <property name="username" value="hr"/>-->
        <!--        <property name="password" value="hr"/>-->

        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://yuznumaram2.cqhtfv7kyvag.eu-central-1.rds.amazonaws.com:3306/yuznumaram"/>
        <property name="username" value="turak"/>
        <property name="password" value="12345678"/>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.import_files">init.sql</prop>
                <prop key="hibernate.dialect.storage_engine">innodb</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
            </props>
        </property>
        <property value="com.spring.model" name="packagesToScan"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.fasterxml.jackson.databind.ObjectMapper" id="objectMapper">
        <property name="dateFormat">
            <bean class="java.text.SimpleDateFormat">
            </bean>
        </property>
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="protocol" value="smtp"/>
        <property name="port" value="587"/>
        <property name="username" value="numaramyuz@gmail.com"/>
        <property name="password" value="yuznumaram.11212"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.debug">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
            </props>

        </property>

    </bean>


    <tx:annotation-driven transaction-manager="transactionManager"/>


</beans>